.navbar{
    background-color:aquamarine;
    box-shadow: 0 2px 10px grey;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.bar:hover{
    color: white;
    cursor: pointer;
 
}
.navbar-items{
width: 99%;
}
.navbar-items li{
list-style: none;
}
.navbar-items ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1430px){
    .navbar-items{
        width: 95%;
        }
}
