.table{
  
    margin: 1rem;
    overflow-x:auto;
  }
  table{
    /* margin: auto; */
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
   th{
    background-color: aquamarine;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  .resume{
    max-width: 300px;
   
    overflow-x: auto;
    
  }
  tr:nth-child(even){background-color: #f2f2f2}
  